<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tải về</title>
    <link rel="stylesheet" href="./template.css" type="text/css"/>
    <link rel="shortcut icon" href='http://27.0.14.78/dl/image/iconninja32.png' type="image/x-icon"/>
    <link rel="apple-touch-icon" href="images/logo256.png"/>
    <meta name="description"
          content="Website chính thức của Ninja School Online - Game nhập vai Việt Nam được yêu thích nhất trên Mobile!"/>
</head>
<body>
<div class="body_body">
    <div style="line-height: 3px;
    font-size: 10px;
    padding-right: 5px;
       padding-bottom: 6px;">
        <img height=12 src="12.png" style="vertical-align: middle;"/>
        <span style="vertical-align: middle;">Trò chơi dành cho người chơi 12 tuổi trở lên. Chơi quá 180 phút mỗi ngày sẽ có hại cho sức khỏe
			</span>
    </div>
    <div class="left_top"></div>
    <div class="bg_top">
        <div class="right_top"></div>
    </div>
    <div class="body-content">
        <div class="bg-content2">
            <div class="a" align="center"><a href="linkweb"><img src="images/logo.png"/></a></div>
            <div id="top">
                <div class="link-more">
                    <div class="h" align="center">
                        <div class="bg_noel"></div>
                        <div class="menu2" style="background: #561d00;">
                            <table width="100%" border="0" cellspacing="4	">
                                <tr class="menu">
                                    <td style="width:25%"><a href="/home">Trang Chủ</a></td>
                                    <td style="width:25%" id="selected"><a href="/download">Tải Về</a></td>
                                    <td style="width:25%"><a href="/forum">Diễn đàn</a></td>
                                    <td style="width:25%"><a href="" target="_blank">Fanpage</a></td>
                                </tr>
                            </table>
                        </div>
                        <div class="bg-content" style="margin:0px;text-align:center;">
                            <div>
                                <a href="http://wap.teamobi.com/game/jar/111/6"><img height="44"
                                                                                     src="images/jar.png"></a>
                                <a href="http://wap.teamobi.com/game/jad/111/6"><img height="44"
                                                                                     src="images/jad.png"></a><br>
                                <a href="https://play.google.com/store/apps/details?id=com.team.njonline"><img
                                        height="44" src="images/android.png"></a><br>
                                <a href="http://dl.teamobi.com/drive/get/RZ"><img height="44"
                                                                                  src="images/PC.png"></a><br>
                                <a href="https://testflight.apple.com/join/O1jTSJWE"><img src="images/ip.png"></a><br>
                                <a href="http://www.windowsphone.com/en-us/store/app/ninja-school/4196ac26-0698-4fc5-a9e3-f9bd80dcd4a5?signin=true"><img
                                        src="images/WDP.png"></a>
                            </div>
                        </div>

                    </div>
                    <br>
                </div>
                <br>

            </div>
        </div>
    </div>
    <div class="bg_tree"></div>
    <div class="foot_bg">

    </div>

    <div class="left_b_bottom">
        <div class="right_b_bottom">
            <div class="footer">
                <div class="left_bottom"></div>
                <div class="right_bottom"></div>
            </div>
        </div>
    </div>
    <div class="copyright"><br><b>Bản quyền 2011 TeaMobi.</b>
        <a style="color: #AD4105" href="">Điều khoản sử dụng</a></div>
</div>
</div>
</body>
</html>