
﻿<?xml version="1.0" encoding="UTF-8"?>
<html>
<head>
    <meta name="viewport" content="width=device-width,maximum-scale=1,user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Teamobi - Ninja School Online</title>
    <link rel="stylesheet" type="text/css" href="http://dd.ninjaschool.vn/app/view/css/StyleSheet.css" />
    <link rel="stylesheet" type="text/css" href="http://dd.ninjaschool.vn/app/view/css/template.css" />
    <link rel="shortcut icon" href='http://27.0.14.78/dl/image/iconninja32.png' type="image/x-icon" />
    <link rel="apple-touch-icon" href="../logo256.png" />

</head>
<body>
<div class="body_body">
    <div style="    line-height: 10px;
    font-size: 10px;
    padding-right: 5px;
    padding-bottom: 20px;
    padding-top: 0;
    margin-top: -14px;">
        <img height=12 src="http://ninjaschool.vn/12.png" style="vertical-align: middle;"/>
        <span style="vertical-align: middle;">Trò chơi dành cho người chơi 12 tuổi trở lên. Chơi quá 180 phút mỗi ngày sẽ có hại cho sức khỏe
			</span>
    </div>
    <div class="left_top"></div><div class="bg_top"><div class="right_top"></div></div>
    <div class="body-content">
        <div class="a" align="center"><img src="http://dd.ninjaschool.vn/app/view/images/logoBT.png" /></div>
        <div id="top">
            <div class="link-more">
                <div class="h">
                    <div class="bg_tree"></div>
                    <div class="bg_noel"></div>
                    <div class="menu2" style="background: #561d00;">
                        <table width="100%" border="0" cellspacing="4	">
                            <tr class="menu">
                                <td style="width:25%"><a href="/home">Trang Chủ</a></td>
                                <td style="width:25%"><a href="/download">Tải Về</a></td>
                                <td style="width:25%" id="selected"><a href="/forum">Diễn đàn</a></td>
                                <td style="width:25%"><a href="" target="_blank">Fanpage</a></td>
                            </tr>
                        </table>
                    </div><div class="body">
                    <div id="box_login_ads">
                        <div class="box_inputboxx">
                            <form action="http://dd.ninjaschool.vn/app/index.php?do=login" method="POST" name="login">
                                <div class="box_input_login">
                                    <input width="100px" name="user" value="Username" type="text" />
                                </div>
                                <div class="box_input_login">
                                    <input name="pass" value="123456" type="password" /><input type="hidden" name="checkru" value="badc870c02faf298a4d83250c6d25c2b"/>
                                </div>
                                <div class="box_button_login"><button type="submit" value="Đăng nhập" name="submit">Đăng nhập</button></div>
                            </form>
                        </div>
                        <div style="width:100%;float:left;">
                            <p></p>
                            <div style="margin-left:auto;margin-right:auto;text-align:center;">
                                <a href="http://pay.teamobi.com/?game=nj&name=">
                                    <img src="http://pay.teamobi.com/img/btn/nj.png"></a>
                            </div>
                            <table style="margin-left:auto;margin-right:auto;text-align:left;">
                                <tr>
                                    <td>

                                    </td>
                                    <td>
                                        <table>
                                            <tr>
                                                <td colspan=2><b style="color:red">Tải về phiên bản Beta Test: (<a href="http://ninjaschool.vn/?c=news&id=16">Hướng dẫn</a></b>)</td>
                                            </tr>
                                            <tr>
                                                <td align="center" width=15>
                                                    <img src="http://dd.ninjaschool.vn/images/icon/java.png" height="15" />
                                                </td>
                                                <td>
                                                    <a href="http://wap.teamobi.com/game/jar/111/6">Bản Java 211: Jar</a> -
                                                    <a  href="http://wap.teamobi.com/game/jad/111/6">Jad</a> (0.52 MB)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" width=15>
                                                    <img src="http://dd.ninjaschool.vn/images/icon/android.png" height="15" />
                                                </td>
                                                <td>
                                                    <a  href="http://dl.teamobi.com/drive/get/Rj">Bản Android 211</a> (46.01 MB)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" width=15>
                                                    <img src="http://dd.ninjaschool.vn/images/icon/android.png" height="15" />
                                                </td>
                                                <td>
                                                    <a  href="https://play.google.com/store/apps/details?id=com.team.njonline">Play Store 211</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" width=15>
                                                    <img src="http://dd.ninjaschool.vn/images/icon/pc.png" height="15" />
                                                </td>
                                                <td>
                                                    <a  href="http://dl.teamobi.com/drive/get/RZ">Bản PC 211 </a> (123.47 MB)
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" width=15>
                                                    <img src="http://dd.ninjaschool.vn/images/icon/iphone-jb.png" height="15" />
                                                </td>
                                                <td>
                                                    <a  href="https://testflight.apple.com/join/O1jTSJWE">Bản iPhone 210 </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="center" width=15>
                                                    <img src="http://dd.ninjaschool.vn/images/icon/winphone.png" height="15" />
                                                </td>
                                                <td>
                                                    <a  href="http://www.windowsphone.com/en-us/store/app/ninja-school/4196ac26-0698-4fc5-a9e3-f9bd80dcd4a5">Bản Windows Phone </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                            </table>
                        </div>
                        <center><iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fnj.teamobi&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
                        </center>
                    </div><div id="box_forums">

                    <div class="box_list_chuyenmuc">
                        <div class="box_topss"><span>Chuyên mục : </span>Ninja School Online</div>
                        <div class="box_botss">

                        </div>
                        <div class="box_topss" style="height:5px;">&nbsp;</div>
                        <form method="POST" name="UpdateBOP">
                            <div class="box_botss">
                                <div class="topic_name">
                                    <a href="index.php?for=forum&do=list&uid=214732502&p=0&sz=15" title="Xin lại tk"><span>Xin lại tk</span></a>
                                    <div class="box_name_eman">bởi <a href="#" title="dinhtan22">dinhtan22</a>				<span> Trả lời : 3</span>				<span> - Xem : 68</span> <span style="color:red">[♥ 1]</span>
                                    </div>
                                </div>
                            </div>

                        </form>
                        <div class="box_topss"><center> <div class="pagination">
                            <span class="pagecurrent">1</span>
                            <a class='pagelink'href="?for=forum&do=setting&uid=40&sz=15&p=1">2</a>
                            <a class='pagelink'href="?for=forum&do=setting&uid=40&sz=15&p=2">3</a>
                            <a class='pagelink' href="?for=forum&do=setting&uid=40&sz=15&p=1">></a><a class='pagelink' href="?for=forum&do=setting&uid=40&sz=15&p=70743">>></a></div></center></div>
                    </div>

                    <div class="box_list_parent">

                        <div class="box_list_parent_detai">
                            <div class="box_list">
                                <div class="box_top"><span><a href="index.php?for=forum&do=setting&uid=55&p=0&sz=15">Box hướng dẫn - Ninja</a></span></div>
                                <div class="box_bot"><span>Nơi hướng dẫn gamer chơi game</span></div>
                            </div>
                        </div>
                        <div class="box_list_parent_detai">
                            <div class="box_list">
                                <div class="box_top"><span><a href="index.php?for=forum&do=setting&uid=44&p=0&sz=15">Báo lỗi Ninja</a></span></div>
                                <div class="box_bot"><span>Giải quyết các trường hợp mất đồ, level trong Ninja School</span></div>
                            </div>
                        </div>
                        <div class="box_list_parent_detai">
                            <div class="box_list">
                                <div class="box_top"><span><a href="index.php?for=event&do=report&p=0&sz=15" title="<b>Báo lỗi thẻ nạp không thành công</b>">
			<b>Báo lỗi thẻ VTC</b> <img src="http://my.teamobi.com/images/new.gif" border="0"></a></span></div>
                                <div class="box_bot"><span>Giải quyết các trường hợp nạp thẻ trong Ninja School</span></div>
                            </div>

                        </div>
                        <div class="box_list_parent_detai">
                            <div class="box_list">
                                <div class="box_top"><span><a href="index.php?for=event&do=sms&p=0&sz=15" title="<b>Báo lỗi sms</b>">
			<b>Báo lỗi SMS</b> <img src="http://my.teamobi.com/images/new.gif" border="0"></a></span></div>
                                <div class="box_bot"><span>Giải quyết các trường hợp nạp sms</span></div>
                            </div>

                        </div>

                    </div>

                </div>
                    <div class="clearfix"></div></div>           <br></div>
            </div><br>
            <style>
                .adsfooter a{
                    color: #000;
                }
            </style>
            <div class="bg_tree"></div>
            <div class="foot_bg">



            </div>
            <div class="left_b_bottom"><div class="right_b_bottom"><div class="footer"><div class="left_bottom"></div><div class="right_bottom"></div></div></div></div>
            <div class="copyright"><b>Bản quyền 2011 TeaMobi.</b> <a style="color: #000" href="http://teamobi.com/dieukhoan.htm">Điều khoản sử dụng</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
