<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>

    <link rel="stylesheet" href="./template.css" type="text/css"/>
    <link rel="shortcut icon" href='http://27.0.14.78/dl/image/iconninja32.png' type="image/x-icon"/>
    <link rel="apple-touch-icon" href="images/logo256.png"/>
    <meta name="description"
          content="Website chính thức của Ninja School Online - Game nhập vai Việt Nam được yêu thích nhất trên Mobile!"/>
</head>
<body>
<div class="body_body">
    <div style="line-height: 3px; font-size: 10px; padding-right: 5px; padding-bottom: 6px;">
        <img height=12 src="12.png" style="vertical-align: middle;"/>
        <span style="vertical-align: middle;">Trò chơi dành cho người chơi 12 tuổi trở lên. Chơi quá 180 phút mỗi ngày sẽ có hại cho sức khỏe</span>
    </div>
    <div class="left_top"></div>
    <div class="bg_top">
        <div class="right_top">
        </div>
    </div>
    <div class="body-content">
        <div class="bg-content2">
            <div class="a" align="center"><a href=""><img src="images/logo.png"/></a></div>
            <div id="top">
                <div class="link-more">
                    <div class="h" align="center">
                        <div class="bg_noel"></div>
                        <div class="menu2" style="background: #561d00;">
                            <table width="100%" border="0" cellspacing="4	">
                                <tr class="menu">
                                    <td style="width:25%" id="selected"><a href="?c=anow&p=0">Trang Chủ</a></td>
                                    <td style="width:25%"><a href="./download">Tải Về</a></td>
                                    <td style="width:25%"><a href="./forum">Diễn đàn</a></td>
                                    <td style="width:25%"><a href="" target="_blank">Fanpage</a></td>
                                </tr>
                            </table>
                        </div>
                        <div class="bg-content">
                            <p><img width="100%" src="http://103.42.57.45/partner/images/nj.png"/></p>
                            <div>
                                <div style="margin-left:auto;margin-right:auto;text-align:center;">
                                    <a href="http://pay.teamobi.com/?game=nj"> <img
                                            src="http://pay.teamobi.com/img/btn/nj.png"></a>
                                </div>
                            </div>
                            <div style="padding:4px;">Bạn là fan của Ninja, nhân vật anh hùng nửa chánh nửa tà, hành
                                tung bí ẩn nhưng lại có các khả năng phi thường. <br>
                                <br>
                                Vâng! Chúng ta đã quá quen thuộc với thế giới của Ninja, với các vũ khí độc mà lạ, với
                                các thuật biến thân, các kỹ năng thần bí và với tinh thần bất khuất. <br>
                                <br>
                                Xin giới thiệu Thiếu Niên Anh Hùng – Ninja School trò chơi nhập vai cổ trang sẽ giúp bạn
                                trải nghiệm thế giới Ninja một cách sinh động nhất. Bạn trong vai một cô / cậu bé, bạn
                                sẽ tự quyết định con đường Ninja của mình bằng cách tham gia một trong ba ngôi trường cổ
                                xưa để tu luyện. <br>
                                <br>
                                Tại đây, bạn sẽ được tham gia các khóa huấn luyện từ các thầy cô, các nhiệm vụ cá nhân
                                hay thực hiện cùng bạn bè. Mỗi một nhân vật sẽ có một cá tính riêng, cách luyện tập và
                                hành vi trong game của bạn sẽ khiến bạn trở nên độc nhất.<br>
                                <br>
                                Nào, hãy tham gia ngay và hóa thân thành Ninja trên con đường làm nên huyền thoại!
                            </div>
                        </div>
                        <div class="box_parent_list_next" style="margin:0px;text-align:center;">
                            <div class="box_phantrang">
                                <div class="pagination"></div>
                            </div>
                        </div>

                    </div>
                    <br>
                </div>
                <br>
            </div>
        </div>
    </div>
    <div class="bg_tree"></div>
    <div class="foot_bg">

    </div>

    <div class="left_b_bottom">
        <div class="right_b_bottom">
            <div class="footer">
                <div class="left_bottom"></div>
                <div class="right_bottom"></div>
            </div>
        </div>
    </div>
    <div class="copyright"><br><b>Bản quyền 2011 TeaMobi.</b>
        <a style="color: #AD4105" href="">Điều khoản sử dụng</a></div>
</div>
</div>
</body>
</html>